
    <div class="wrapper">

    
    
    <div class="container-fluid">
      <div  class="row">
        <div style="padding:0"class="col-md-4"> <input type="email" class="form-control  find" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Find the e-mail"></div>
        
      </div>
        <div style="border-bottom: 1px gainsboro  solid; background-color:#f8f9fa" class="row">
          <div style="padding: 0;" class="col-md-2">
            <button type="button"  style="width:100%; height:60px; border-bottom:3px black solid;" class="btn btn-light">Main</button>
          </div>
          <div style="padding: 0;" class="col-md-2">
            <button type="button"  style="width:100%;height:60px; " class="btn btn-light">Offerts</button>
          </div>
          <div  style="padding: 0;" class="col-md-2">
            <button type="button" style="width:100%;height:60px; " class="btn btn-light">Spam</button>
          </div>
        </div>
        <div class="row mail">
            <div class="col-4 "><span class="align-middle">Marta Zawier</span></div>
            <div class="col-8"><span class="align-middle">Spotkanie biznesowe 03.11.2019, Some API Imporovements and bugfixes, Programista- java</span></div>
          </div>
        <div class="row mail">
            <div class="col-4">Poncjusz Piłat</div>
            <div class="col-8">Aplikacja na Młodszy Programista- java</div>
        </div>
        <div class="row mail readed">
            <div class="col-4">Alejandro Appopulos</div>
            <div class="col-8">Some API Imporovements and bugfixes</div>
        </div>
        <div class="row mail">
            <div class="col-4">Marta Zawier</div>
            <div class="col-8">Spotkanie biznesowe 03.11.2019</div>
          </div>
        <div class="row mail readed">
            <div class="col-4">Poncjusz Piłat</div>
            <div class="col-8">Aplikacja na Młodszy Programista- java, Some API Imporovements and bugfixes,</div>
        </div>
        <div class="row mail">
            <div class="col-4">Alejandro Appopulos</div>
            <div class="col-8">Some API Imporovements and bugfixes</div>
        </div>
        <div class="row mail">
            <div class="col-4">Marta Zawier</div>
            <div class="col-8">Spotkanie biznesowe 03.11.2019, Aplikacja na Młodszy Programista- java</div>
          </div>
        <div class="row mail">
            <div class="col-4">Poncjusz Piłat</div>
            <div class="col-8">Aplikacja na Młodszy Programista- java</div>
        </div>
        <div class="row mail">
            <div class="col-4">Alejandro Appopulos</div>
            <div class="col-8">Some API Imporovements and bugfixes, Aplikacja na Młodszy Programista- java</div>
        </div>
    </div>
 
  </div>